{% extends 'base.html.twig' %}

{% block title %}

Liste Pizzas

{% endblock %}

{% block stylesheets %}
  
    <style>
        /* pour center l'ensemble de la page */
        .center {
        width: 300px;
        border-collapse: collapse;
        }

        /* pour ajouter une bordure à chaque pizza */
        .pizza-list {
        border: 3px solid rgb(97, 97, 207);;
        border-radius: 15%;
        text-align: left;
        padding: 8px;
        height: 200px;
        }
    </style>
  
        
{% endblock %}

{% block body %}

    <h1 class="center">Menu</h1>

    {% for pizza in list %}
        <div class="center">
            <div class="pizza-list">
                <h2>Pizza {{ pizza.name }}</h2>
                <h3>Prix: {{ pizza.price }}</h3>
                <h3>Composition: {{ pizza.description}}</h3>

                {# redirige vers le chemin en incluant l'id dans la route #}
                <a href=" {{  path('app_pizza_update', {'id': pizza.id}) }}">Modifier</a>

                <a href=" {{  path('app_pizza_remove', {'id': pizza.id}) }}">Supprimer</a>
              
            </div>
        </div>

    {% endfor %}

{% endblock %}